@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-nav {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size:20px;
  font-style: normal;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 60px;
    color: #2b2b28;
    z-index: 1000;
    width:20rem;
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    flex-wrap: nowrap;
    align-content: stretch;
    color: #2b2b28;
}

.bg-b, .bg-p, .bg-w, .bg-g{
  height: 25rem;
  width:100%;
}

.bg-w{
  background-color: #F8F8F8;
}

.bg-p{
  background-color: #F1D6AB;
}
.bg-g{
  background-color: #E3B04B;
}

.bg-b{
  background-color: #2b2b28;
}