@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-nav {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size:20px;
  font-style: normal;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 60px;
    color: #2b2b28;
    z-index: 1000;
    width:20rem;
}

.hr-break {
  display: block;
    width: 100%;
    height: 1px;
    background-color: #E3B04B;
    margin-top: 150px;
}

#about-us-img{
  
  width: 100%;
  height: 100%;
  max-width:775px;
  max-height: 400px;
  object-fit: cover;          /* Ensures the image fills the container */
  object-position: center;
}

#hb-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spread-across {
    display:flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}


/* Services */

#services {
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 60px;
  background-color: #F8F8F8;
  color:#E3B04B;
  BORDER-TOP: 3px solid #E3B04B;
  border-bottom: 3px solid #E3B04B;
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  max-width: 770px;
}



#card-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width:100%;
  background-color: #F8F8F8;
  border: 2px solid #E3B04B;
  margin: 9px;
  border-radius: 10px;
  color:#2b2b28
}

#services-header {
  margin-top: -35px;
  background-color: #F8F8F8;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 2px #E3B04B;
  font-size: 20px;
  color:#171717;
}

/* Enquiry */
.enquire-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: #dfdedc;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 0;
}

button {
  background-color: #E3B04B;
  color: #171717;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}

#about-us-header {
  margin-top: -25px;
  background-color: #F8F8F8;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 2px #E3B04B;
  font-size:20px;
}

.about-us-content, bg-p, .bg-w, .bg-g{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #171717;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  max-width:775px;
}

#wheatley-pink-img {
  width: 100%;
  height: 300px;
  max-width:775px;
  max-height: 400px;
  object-fit: cover;          /* Ensures the image fills the container */
  object-position: center;
}

#hb-line-1, #hb-line-2, #hb-line-3 {
    width: 30px;
    height: 4px;
    background-color: #E3B04B;
    margin: 5px 0;
}


.highlight {
  color: #E3B04B;
}

#logo-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


#logo-box {
  background-size: contain;
  MARGIN-TOP: 20px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: solid 1px #E3B04B;
}


#hb-nav {
    margin:20px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: #2b2b28;
    border: solid 1px #E3B04B;
} 

#spacer {
    margin:20px;
    width: 50px;
    height: 50px;
    background-color: #171717;
    margin-left: 20px;
} 

#contact-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    background-color: #2b2b28;
    color: #dfdedc;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-width:422px;
    flex-wrap: nowrap;
    align-content: stretch;
    color: #2b2b28;
}

.bg-b, .bg-w, .bg-g{
  height: 25rem;
  width:100%;
}

.bg-w{
  background-color: #F8F8F8;
}



.bg-p{
  background-color: #F1D6AB;
}
.bg-g{
  background-color: #E3B04B;
}

.bg-b{
  background-color: #171717;
  display:flex;
  flex-direction: column;
  align-items: top;
  
}

.bg-w {
  height: 60rem;
}