@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat-nav {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size:20px;
  font-style: normal;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 60px;
    color: #2b2b28;
    z-index: 1000;
    width:20rem;
}

#logo-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#logo-box {
  background-size: contain;
  MARGIN-TOP: 20px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: solid 1px #E3B04B;
  margin-left: 20px;
}


#hb-nav {
    margin:20px;
    width: 80px;
    height: 80px;
    border-radius: 20%;
    background-color: #2b2b28;
    border: solid 4px #E3B04B;
    margin-left: 20px;
} 

#spacer {
    margin:20px;
    width: 80px;
    height: 80px;
    background-color: #171717;
    margin-left: 20px;
} 

#contact-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    background-color: #2b2b28;
    color: #dfdedc;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    flex-wrap: nowrap;
    align-content: stretch;
    color: #2b2b28;
}

.bg-b, .bg-p, .bg-w, .bg-g{
  height: 25rem;
  width:100%;
}

.bg-w{
  background-color: #F8F8F8;
}

.bg-p{
  background-color: #F1D6AB;
}
.bg-g{
  background-color: #E3B04B;
}

.bg-b{
  background-color: #171717;
  display:flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}